<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="simSwap">
            <h2><span>Sim Swap</span> {{simSwap.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{simSwap.msisdn}}</span>
                </dd>
                <dt><span>Old IMSI</span></dt>
                <dd>
                    <span>{{simSwap.oldIMSI}}</span>
                </dd>
                <dt><span>New IMSI</span></dt>
                <dd>
                    <span>{{simSwap.newIMSI}}</span>
                </dd>
                <dt><span>Backend Response</span></dt>
                <dd>
                    <span>{{simSwap.backendResp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sim-swap', simSwap.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
