<div class="row justify-content-center">
    <div class="col-8" style="margin-bottom: 5px">
        <a class="btn btn-info" routerLink="/sim-swap">
            <fa-icon icon="list"></fa-icon>
            <span>Voir les derniers changements de sim</span>
        </a>
    </div>
    <div class="col-8">
        <ngb-tabset>
            <ngb-tab title="Single">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
                        <h2>Faire un changement de SIM sur un numéro</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div [hidden]="!editForm.get('id').value" class="form-group">
                                <label for="id">ID</label>
                                <input class="form-control" formControlName="id" id="id" name="id" readonly
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdn">Msisdn</label>
                                <div class="form-inline form-horizontal">
                                    <label class="label label-primary form-control">221</label>
                                    <input class="form-control" formControlName="msisdn" id="field_msisdn" name="msisdn"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_oldIMSI">Old IMSI</label>
                                <input class="form-control" formControlName="oldIMSI" id="field_oldIMSI" name="oldIMSI"
                                       type="text"/>
                                <div
                                    *ngIf="editForm.get('oldIMSI').invalid && (editForm.get('oldIMSI').dirty || editForm.get('oldIMSI').touched)">
                                    <small *ngIf="editForm.get('oldIMSI').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_newIMSI">New IMSI</label>
                                <input class="form-control" formControlName="newIMSI" id="field_newIMSI" name="newIMSI"
                                       type="text"/>
                                <div
                                    *ngIf="editForm.get('newIMSI').invalid && (editForm.get('newIMSI').dirty || editForm.get('newIMSI').touched)">
                                    <small *ngIf="editForm.get('newIMSI').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab *jhiHasAnyAuthority="['ROLE_COMPLAIN', 'ROLE_B2B']" title="Bulk">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="uploadFile()">
                        <h2>Faire un changement de SIM sur plusieurs numéros</h2>
                        <div class="form-group">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="alert alert-info" style="margin: 1%">
                                <strong class="text-field">Format fichier : msisdn(sans 221);oldimsi(sans 60802);newimsi(sans 60802)</strong>
                            </div>
                            <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="btn"
                                   name="file"
                                   type="file"/>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button class="btn btn-primary"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
*
