<div>
    <h2 id="page-heading">
        <span>Sim Swaps</span>
        <button class="btn btn-success" (click)="loadAll()">
            <fa-icon [icon]="'sync'"></fa-icon>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sim-swap" [routerLink]="['/sim-swap/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Sim Swap
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="simSwaps?.length === 0">
        <span>No simSwaps found</span>
    </div>
    <button *ngIf="simSwaps?.length > 0" class="btn btn-info btn-sm float-right" (click)="exportAsXLSX()">
        <fa-icon [icon]="'file-excel-o'"></fa-icon>
        <span class="d-none d-md-inline">Exporter dans Excel</span>
    </button>
    <br/>
    <div class="table-responsive" *ngIf="simSwaps?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
<!--            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="oldIMSI"><span>Old IMSI</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="newIMSI"><span>New IMSI</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processingStatus"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transactionId"><span>TransactionId</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span>Date et auteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let simSwap of simSwaps ;trackBy: trackId">
<!--                <td><a [routerLink]="['/sim-swap', simSwap.id, 'view' ]">{{simSwap.id}}</a></td>-->
                <td>{{simSwap.msisdn}}</td>
                <td>{{simSwap.oldIMSI}}</td>
                <td>{{simSwap.newIMSI}}</td>
                <td><span class="badge badge-pill badge-info">{{simSwap.processingStatus}}</span></td>
                <td (click)="getAllSiblings(simSwap.transactionId)"><a style="color:blue;text-anchor: start;text-decoration: underline">{{simSwap.transactionId}}</a></td>
                <td>{{simSwap.createdBy + ' - ' + simSwap.createdDate}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sim-swap', simSwap.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="simSwaps?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
