<div class="row justify-content-center">
    <div class="col-8" style="margin-bottom: 5px">
        <a class="btn btn-info" routerLink="/roaming-service">
            <fa-icon icon="list"></fa-icon>
            <span>Voir les derniers changements de services Roaming </span>
        </a>
    </div>
    <div class="col-8">
        <ngb-tabset>
            <ngb-tab title="Roaming unique">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
                        <h2 id="jhi-roaming-service-heading">Create or edit a Roaming Service</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div [hidden]="!editForm.get('id').value" class="form-group">
                                <label for="id">ID</label>
                                <input class="form-control" formControlName="id" id="id" name="id" readonly
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdn">Msisdn</label>
                                <input class="form-control" formControlName="msisdn" id="field_msisdn" name="msisdn"
                                       type="text"/>
                                <div
                                    *ngIf="editForm.get('msisdn').invalid && (editForm.get('msisdn').dirty || editForm.get('msisdn').touched)">
                                    <small *ngIf="editForm.get('msisdn').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_services">Services</label>
                                <select class="form-control" formControlName="services" id="field_services"
                                        name="services">
                                    <option value="VOICE_DATA">VOICE_DATA</option>
                                    <option value="VOICE_NODATA">VOICE_NODATA</option>
                                    <option value="NOVOICE_DATA">NOVOICE_DATA</option>
                                    <option value="NOVOICE_NODATA">NOVOICE_NODATA</option>
                                </select>
                                <div
                                    *ngIf="editForm.get('services').invalid && (editForm.get('services').dirty || editForm.get('services').touched)">
                                    <small *ngIf="editForm.get('services').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Roaming bulk">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="uploadFile()" [formGroup]="editFormBulk" name="editFormBulk" novalidate role="form">
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group">
                                <label class="form-control-label" for="field-msisdn-bulk">Msisdn</label>
                                <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="form-control" formControlName="msisdn_bulk" id="field-msisdn-bulk" name="msisdn_bulk"
                                       type="file"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_services_bulk">Services</label>
                                <select class="form-control" formControlName="service" id="field_services_bulk" [(ngModel)]="service_bulk"
                                        name="services">
                                    <option value="VOICE_DATA">VOICE_DATA</option>
                                    <option value="VOICE_NODATA">VOICE_NODATA</option>
                                    <option value="NOVOICE_DATA">NOVOICE_DATA</option>
                                    <option value="NOVOICE_NODATA">NOVOICE_NODATA</option>
                                </select>
                                <div
                                    *ngIf="editFormBulk.get('services').invalid && (editFormBulk.get('services').dirty || editFormBulk.get('services').touched)">
                                    <small *ngIf="editFormBulk.get('services').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editFormBulk.invalid || isSaving" class="btn btn-primary"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
