<div>
    <h2 id="page-heading">
        <span>Roaming Services</span>
        <button [routerLink]="['/roaming-service/new']" class="btn btn-primary float-right jh-create-entity create-roaming-service" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Roaming Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="roamingServices?.length === 0" class="alert alert-warning">
        <span>No roamingServices found</span>
    </div>
    <button *ngIf="roamingServices?.length > 0" class="btn btn-info btn-sm float-right" (click)="exportAsXLSX()">
        <fa-icon [icon]="'file-excel-o'"></fa-icon>
        <span class="d-none d-md-inline">Exporter dans Excel</span>
    </button>
    <br/>
    <div *ngIf="roamingServices?.length > 0" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr [(ascending)]="reverse" [(predicate)]="predicate" [callback]="transition.bind(this)" jhiSort>
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="services"><span>Services</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processingStatus"><span>Processing Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roamingService of roamingServices ;trackBy: trackId">
                <td><a [routerLink]="['/roaming-service', roamingService.id, 'view' ]">{{roamingService.id}}</a></td>
                <td>{{roamingService.msisdn}}</td>
                <td>{{roamingService.services}}</td>
                <td>{{roamingService.processingStatus}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="roamingServices?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [itemsPerPage]="itemsPerPage" [maxSize]="5" [page]="page" [total]="totalItems"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination (pageChange)="loadPage(page)" [(page)]="page" [boundaryLinks]="true" [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [rotate]="true"></ngb-pagination>
        </div>
    </div>
</div>
