<div class="row justify-content-center">
    <div class="col-8" style="margin-bottom: 5px">
        <a class="btn btn-info" routerLink="/roaming-4-g">
            <fa-icon icon="list"></fa-icon>
            <span>Voir les derniers changements de services 4g Roaming </span>
        </a>
    </div>
    <div class="col-8">
        <ngb-tabset>
            <ngb-tab title="Roaming 4G unique">
                <ng-template ngbTabContent>
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                        <h2 id="jhi-roaming-4-g-heading">Create or edit a Roaming 4 G</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group">
                                <label class="form-control-label" for="field_imsi">Imsi</label>
                                <input type="text" class="form-control" name="imsi" id="field_imsi"
                                       formControlName="imsi"/>
                                <div *ngIf="editForm.get('imsi').invalid && (editForm.get('imsi').dirty || editForm.get('imsi').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('imsi').errors.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_services">Services</label>
                                <select class="form-control" name="services" formControlName="services" id="field_services">
                                    <option value="F4G_ROAMING">4G_ROAMING</option>
                                    <option value="NO_4G_ROAMING">NO_4G_ROAMING</option>
                                </select>
                                <div *ngIf="editForm.get('services').invalid && (editForm.get('services').dirty || editForm.get('services').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('services').errors.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Roaming 4G bulk">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="uploadFile()" [formGroup]="editFormBulk" name="editFormBulk" novalidate role="form">
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group">
                                <label class="form-control-label" for="field-imsi-bulk">IMSI</label>
                                <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="form-control" formControlName="imsi_bulk" id="field-imsi-bulk" name="imsi_bulk"
                                       type="file"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_services_bulk">Services</label>
                                <select class="form-control" formControlName="services" id="field_services_bulk" [(ngModel)]="service_bulk"
                                        name="services">
                                    <option value="F4G_ROAMING">4G_ROAMING</option>
                                    <option value="NO_4G_ROAMING">NO_4G_ROAMING</option>
                                </select>
                                <div
                                    *ngIf="editFormBulk.get('services').invalid && (editFormBulk.get('services').dirty || editFormBulk.get('services').touched)">
                                    <small *ngIf="editFormBulk.get('services').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editFormBulk.invalid || isSaving" class="btn btn-primary"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

    </div>
</div>
