<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roaming4g">
            <h2><span>Roaming 4 G</span> {{roaming4g.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Imsi</span></dt>
                <dd>
                    <span>{{roaming4g.imsi}}</span>
                </dd>
                <dt><span>Services</span></dt>
                <dd>
                    <span>{{roaming4g.services}}</span>
                </dd>
                <dt><span>Processing Status</span></dt>
                <dd>
                    <span>{{roaming4g.processingStatus}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/roaming-4-g', roaming4g.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
