<div>
    <h2 id="page-heading">
        <span>Roaming 4 Gs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-roaming-4-g" [routerLink]="['/roaming-4-g/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Roaming 4 G
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="roaming4gs?.length === 0">
        <span>No roaming4gs found</span>
    </div>
    <div class="table-responsive" *ngIf="roaming4gs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imsi"><span>Imsi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="services"><span>Services</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processingStatus"><span>Processing Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roaming4g of roaming4gs ;trackBy: trackId">
                <td><a [routerLink]="['/roaming-4-g', roaming4g.id, 'view' ]">{{roaming4g.id}}</a></td>
                <td>{{roaming4g.imsi}}</td>
                <td>{{roaming4g.services}}</td>
                <td>{{roaming4g.processingStatus}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/roaming-4-g', roaming4g.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roaming-4-g', roaming4g.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/roaming-4-g', { outlets: { popup: roaming4g.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="roaming4gs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
