<footer>
    <div class="navbar footer fixed-bottom container-fluid">
        <span class="" style="font-family: Verdana; font-weight: bold; font-style: italic"> Copyright © 2019 - free </span>
    </div>
</footer>

