<div>
    <h2 id="page-heading">
        <span>Full Portins</span>
        <button class="btn btn-success" (click)="loadAll()">
            <fa-icon [icon]="'sync'"></fa-icon>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-full-portin" [routerLink]="['/full-portin/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Full Portin
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="fullPortins?.length === 0">
        <span>No fullPortins found</span>
    </div>
    <div class="table-responsive" *ngIf="fullPortins?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imsi"><span>Imsi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processingStatus"><span>Processing Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span>Prénom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dob"><span>Date de naissance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="puk"><span>Puk</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentReferenceType"><span>Type de pièce</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proofNumber"><span>Numéro pièce</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fullPortin of fullPortins ;trackBy: trackId">
                <td><a [routerLink]="['/full-portin', fullPortin.id, 'view' ]">{{fullPortin.id}}</a></td>
                <td>{{fullPortin.msisdn}}</td>
                <td>{{fullPortin.imsi}}</td>
                <td>{{fullPortin.processingStatus}}</td>
                <td>{{fullPortin.name}}</td>
                <td>{{fullPortin.firstName}}</td>
                <td>{{fullPortin.dob| date:'dd-MM-yyyy' }}</td>
                <td>{{fullPortin.puk}}</td>
                <td>{{fullPortin.documentReferenceType}}</td>
                <td>{{fullPortin.proofNumber}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/full-portin', fullPortin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/full-portin', fullPortin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/full-portin', { outlets: { popup: fullPortin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="fullPortins?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
