<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fullPortin">
            <h2><span>Full Portin</span> {{fullPortin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{fullPortin.msisdn}}</span>
                </dd>
                <dt><span>Imsi</span></dt>
                <dd>
                    <span>{{fullPortin.imsi}}</span>
                </dd>
                <dt><span>Processing Status</span></dt>
                <dd>
                    <span>{{fullPortin.processingStatus}}</span>
                </dd>
                <dt><span>Statut</span></dt>
                <dd>
                    <span>{{fullPortin.statut}}</span>
                </dd>
                <dt><span>Transaction Id</span></dt>
                <dd>
                    <span>{{fullPortin.transactionId}}</span>
                </dd>
                <dt><span>Backend Resp</span></dt>
                <dd *ngFor="let item of resp">
                    <span>{{item}}</span>
                </dd>
                <dt><span>Cos</span></dt>
                <dd>
                    <span>{{fullPortin.cos}}</span>
                </dd>
                <dt><span>Creation Type</span></dt>
                <dd>
                    <span>{{fullPortin.creationType}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{fullPortin.name}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{fullPortin.firstName}}</span>
                </dd>
                <dt><span>Dob</span></dt>
                <dd>
                    <span>{{fullPortin.dob}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{fullPortin.city}}</span>
                </dd>
                <dt><span>Puk</span></dt>
                <dd>
                    <span>{{fullPortin.puk}}</span>
                </dd>
                <dt><span>Tigo Cash Status</span></dt>
                <dd>
                    <span>{{fullPortin.tigoCashStatus}}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{fullPortin.gender}}</span>
                </dd>
                <dt><span>Alt Contact Num</span></dt>
                <dd>
                    <span>{{fullPortin.altContactNum}}</span>
                </dd>
                <dt><span>District</span></dt>
                <dd>
                    <span>{{fullPortin.district}}</span>
                </dd>
                <dt><span>Document Reference Type</span></dt>
                <dd>
                    <span>{{fullPortin.documentReferenceType}}</span>
                </dd>
                <dt><span>Proof Number</span></dt>
                <dd>
                    <span>{{fullPortin.proofNumber}}</span>
                </dd>
                <dt><span>Create User</span></dt>
                <dd>
                    <span>{{fullPortin.createUser}}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{fullPortin.createDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/full-portin', fullPortin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
