<div class="row justify-content-center">
    <div class="col-8" style="margin-bottom: 5px">
        <a class="btn btn-info" routerLink="/full-portin">
            <fa-icon icon="list"></fa-icon>
            <span>Voir les derniers fullportins</span>
        </a>
    </div>
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-full-portin-heading">Create or edit a Full Portin</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_msisdn">Msisdn</label>
                    <div class="form-inline form-horizontal">
                        <label class="label label-primary form-control">221</label>
                        <input class="form-control" formControlName="msisdn" id="field_msisdn" name="msisdn"
                               type="text"/>
                    </div>
                    <div
                        *ngIf="editForm.get('msisdn').invalid && (editForm.get('msisdn').dirty || editForm.get('msisdn').touched)">
                        <small *ngIf="editForm.get('msisdn').errors.required"
                               class="form-text text-danger">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imsi">Imsi</label>
                    <input type="text" class="form-control" name="imsi" id="field_imsi"
                           formControlName="imsi"/>
                    <div *ngIf="editForm.get('imsi').invalid && (editForm.get('imsi').dirty || editForm.get('imsi').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('imsi').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cos">Cos</label>
                    <select class="form-control" formControlName="cos" id="field_cos"
                            name="cos">
                        <option *ngFor="let mainProduct of mainProducts"
                                [value]="mainProduct.mainProductId">{{mainProduct.mainProductName}}</option>
                    </select>
                    <div
                        *ngIf="editForm.get('cos').invalid && (editForm.get('cos').dirty || editForm.get('cos').touched)">
                        <small *ngIf="editForm.get('cos').errors.required"
                               class="form-text text-danger">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_puk">Puk</label>
                    <input type="text" class="form-control" name="puk" id="field_puk"
                           formControlName="puk"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tigoCashStatus">Free Money</label>
                    <select class="form-control" name="tigoCashStatus" formControlName="tigoCashStatus" id="field_tigoCashStatus">
                        <option value="FALSE">OUI</option>
                        <option value="TRUE">NON</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">Prénom</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName" oninput="this.value = this.value.toUpperCase()"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nom</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name" oninput="this.value = this.value.toUpperCase()"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dob">Date de naissance</label>
                    <input type="date" class="form-control" name="dob" id="field_dob"
                           formControlName="dob"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gender">Genre</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">Masculin</option>
                        <option value="FEMALE">Féminin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_city">Ville</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_district">Quartier</label>
                    <input type="text" class="form-control" name="district" id="field_district"
                           formControlName="district"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_documentReferenceType">Type de pièce</label>
                    <select class="form-control" name="documentReferenceType" formControlName="documentReferenceType" id="field_documentReferenceType">
                        <option value="IDCard">IDCard</option>
                        <option value="Passport">Passport</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_proofNumber">Numéro de pièce</label>
                    <input type="text" class="form-control" name="proofNumber" id="field_proofNumber"
                           formControlName="proofNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_altContactNum">Alt Contact Num</label>
                    <input type="text" class="form-control" name="altContactNum" id="field_altContactNum"
                           formControlName="altContactNum"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
