<div>
    <h2 id="page-heading">
        <span>Services</span>
<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-services" [routerLink]="['/services/new']">-->
<!--            <fa-icon [icon]="'plus'"></fa-icon>-->
<!--            <span >-->
<!--            Create new Services-->
<!--            </span>-->
<!--        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="services?.length === 0">
        <span>No services found</span>
    </div>
    <button *ngIf="services?.length > 0" class="btn btn-info btn-sm float-right" (click)="exportAsXLSX()">
        <fa-icon [icon]="'file-excel-o'"></fa-icon>
        <span class="d-none d-md-inline">Exporter dans Excel</span>
    </button>
    <br/>
    <div class="table-responsive" *ngIf="services?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
<!--            <th><span>ID</span></th>-->
            <th><span>Code</span></th>
            <th><span>Label</span></th>
<!--            <th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let services of services ;trackBy: trackId">
<!--                <td><a [routerLink]="['/services', services.id, 'view' ]">{{services.id}}</a></td>-->
                <td style="font-weight: bold">{{services.code}}</td>
                <td>{{services.label}}</td>
<!--                <td class="text-right">-->
<!--                    <div class="btn-group">-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/services', services.id, 'view' ]"-->
<!--                                class="btn btn-info btn-sm">-->
<!--                            <fa-icon [icon]="'eye'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">View</span>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/services', services.id, 'edit']"-->
<!--                                class="btn btn-primary btn-sm">-->
<!--                            <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">Edit</span>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/', 'services', { outlets: { popup: services.id + '/delete'} }]"-->
<!--                                replaceUrl="true"-->
<!--                                queryParamsHandling="merge"-->
<!--                                class="btn btn-danger btn-sm">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">Delete</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
