<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="createSubscriber">
            <h2><span>Create Subscriber</span> {{createSubscriber.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{createSubscriber.msisdn}}</span>
                </dd>
                <dt><span>Imsi</span></dt>
                <dd>
                    <span>{{createSubscriber.imsi}}</span>
                </dd>
                <dt><span>Processing Status</span></dt>
                <dd>
                    <span>{{createSubscriber.processingStatus}}</span>
                </dd>
                <dt><span>Statut</span></dt>
                <dd>
                    <span>{{createSubscriber.statut}}</span>
                </dd>
                <dt><span>Transaction Id</span></dt>
                <dd>
                    <span>{{createSubscriber.transactionId}}</span>
                </dd>
                <dt><span>Backend Resp</span></dt>
                <dd>
                    <span>{{createSubscriber.backendResp}}</span>
                </dd>
                <dt><span>Cos</span></dt>
                <dd>
                    <span>{{createSubscriber.cos}}</span>
                </dd>
                <dt><span>Creation Type</span></dt>
                <dd>
                    <span>{{createSubscriber.creationType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

<!--            <button type="button"-->
<!--                    [routerLink]="['/create-subscriber', createSubscriber.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>-->
<!--            </button>-->
        </div>
    </div>
</div>
