<div class="row justify-content-center">
    <div class="col-8" style="margin-bottom: 5px">
        <a class="btn btn-info" routerLink="/create-subscriber">
            <fa-icon icon="list"></fa-icon>
            <span>Voir les dernières créations</span>
        </a>
    </div>
    <div class="col-8">
        <ngb-tabset>
            <ngb-tab title="Création unique">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
<!--                        <h2 id="jhi-create-subscriber-heading">Create or edit a Create Subscriber</h2>-->
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div [hidden]="!editForm.get('id').value" class="form-group">
                                <label for="id">ID</label>
                                <input class="form-control" formControlName="id" id="id" name="id" readonly
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdn">Msisdn</label>
                                <div class="form-inline form-horizontal">
                                    <label class="label label-primary form-control">221</label>
                                    <input class="form-control" formControlName="msisdn" id="field_msisdn" name="msisdn"
                                           type="text"/>
                                </div>
                                <div
                                    *ngIf="editForm.get('msisdn').invalid && (editForm.get('msisdn').dirty || editForm.get('msisdn').touched)">
                                    <small *ngIf="editForm.get('msisdn').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_imsi">IMSI</label>
                                <input class="form-control" formControlName="imsi" id="field_imsi" name="imsi"
                                       type="text"/>
                                <div
                                    *ngIf="editForm.get('imsi').invalid && (editForm.get('imsi').dirty || editForm.get('imsi').touched)">
                                    <small *ngIf="editForm.get('imsi').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_creationType">Creation Type</label>
                                <select class="form-control" formControlName="creationType" id="field_creationType"
                                        name="creationType">
                                    <option *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN']" value="IN">IN</option>
                                    <option *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN']" value="SWITCH">SWITCH</option>
                                    <option *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN']" value="IN_SWITCH">IN_SWITCH</option>
                                    <option *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN']" value="AUC">AUC</option>
                                    <option *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN', 'ROLE_B2B']" value="HSS">HSS</option>
                                    <option *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN']" value="PORTIN">Création numéro porté</option>
                                    <option *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN']" value="IN_SWITCH_HSS">IN_SWITCH_HSS</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_statut">Statut</label>
                                <input class="form-control" formControlName="statut" id="field_statut" name="statut"
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_cos">Cos</label>
                                <select class="form-control" formControlName="cos" id="field_cos"
                                        name="cos">
                                    <option *ngFor="let mainProduct of mainProducts"
                                            [value]="mainProduct.mainProductId">{{mainProduct.mainProductName}}</option>
                                </select>
                                <div
                                    *ngIf="editForm.get('cos').invalid && (editForm.get('cos').dirty || editForm.get('cos').touched)">
                                    <small *ngIf="editForm.get('cos').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                            </button>
                            <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab *jhiHasAnyAuthority="['ROLE_COMPLAIN', 'ROLE_B2B']" title="Création par lot">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="uploadFile()">
<!--                       <h2>Creation numéros en lot</h2>-->
                        <div class="form-group">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="alert alert-info" style="margin: 1%">
                                <strong class="text-field">Format fichier : msisdn(sans 221);imsi(sans 60802)</strong>
                            </div>
                            <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="btn" name="file" type="file"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_creationType">Creation Type</label>
                            <select [(ngModel)]="creationType" class="form-control" id="field_creationType2"
                                    name="creationType">
                                <option *jhiHasAnyAuthority="['ROLE_COMPLAIN']" value="IN">IN</option>
                                <option *jhiHasAnyAuthority="['ROLE_COMPLAIN']" value="SWITCH">SWITCH</option>
                                <option *jhiHasAnyAuthority="['ROLE_COMPLAIN']" value="IN_SWITCH">IN_SWITCH</option>
                                <option *jhiHasAnyAuthority="['ROLE_COMPLAIN']" value="AUC">AUC</option>
                                <option *jhiHasAnyAuthority="['ROLE_COMPLAIN', 'ROLE_B2B']" value="HSS">HSS</option>
                                <option *jhiHasAnyAuthority="['ROLE_COMPLAIN']" value="PORTIN">Création numéro porté</option>
                                <option *jhiHasAnyAuthority="['ROLE_COMPLAIN']" value="IN_SWITCH_HSS">IN_SWITCH_HSS</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_statut">Statut</label>
                            <input [(ngModel)]="statut" class="form-control" id="field_statut2" name="statut"
                                   type="text"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_cos">Cos</label>
                            <select [(ngModel)]="cos" class="form-control" id="field_cos2"
                                    name="cos">
                                <option *ngFor="let mainProduct of mainProducts"
                                        [value]="mainProduct.mainProductId">{{mainProduct.mainProductName}}</option>
                            </select>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                            </button>
                            <button class="btn btn-primary"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
