<div>
    <h2 id="page-heading">
        <span>Creation abonné</span>
        <button class="btn btn-success" (click)="loadAll()">
            <fa-icon [icon]="'sync'"></fa-icon>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-create-subscriber" [routerLink]="['/create-subscriber/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Créer abonné
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="createSubscribers?.length === 0">
        <span>Pas de créations d'abonné en cours</span>
    </div>
    <button *ngIf="createSubscribers?.length > 0" class="btn btn-info btn-sm float-right" (click)="exportAsXLSX()">
        <fa-icon [icon]="'file-excel-o'"></fa-icon>
        <span class="d-none d-md-inline">Exporter dans Excel</span>
    </button>
    <br/>
    <div class="table-responsive" *ngIf="createSubscribers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imsi"><span>Imsi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processingStatus"><span>Processing Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statut"><span>Statut</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transactionId"><span>Transaction Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationType"><span>Creation Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createdDate"><span>Date et auteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let createSubscriber of createSubscribers ;trackBy: trackId">
                <td><a [routerLink]="['/create-subscriber', createSubscriber.id, 'view' ]">{{createSubscriber.id}}</a></td>
                <td>{{createSubscriber.msisdn}}</td>
                <td>{{createSubscriber.imsi}}</td>
                <td>{{createSubscriber.processingStatus}}</td>
                <td>{{createSubscriber.statut}}</td>
                <td (click)="getAllSiblings(createSubscriber.transactionId)"><a style="color:blue;text-anchor: start;text-decoration: underline">{{createSubscriber.transactionId}}</a></td>
                <td>{{createSubscriber.creationType}}</td>
                <td>{{createSubscriber.createdBy + ' - ' + createSubscriber.createdDate}}</td>
                <td></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/create-subscriber', createSubscriber.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="createSubscribers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
