<div>
    <h2 id="page-heading">
        <span>APN Changes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-apn-change" [routerLink]="['/apn-change/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new APN Change
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="aPNChanges?.length === 0">
        <span>No aPNChanges found</span>
    </div>
    <button  class="btn btn-info btn-sm float-right" (click)="exportAsXLSX()">
        <fa-icon [icon]="'file-excel-o'"></fa-icon>
        <span class="d-none d-md-inline">Exporter dans Excel</span>
    </button>
    <br/>
    <div class="table-responsive" *ngIf="aPNChanges?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Msisdn</span></th>
            <th><span>Imsi</span></th>
            <th><span>Operation</span></th>
            <th><span>Apn</span></th>
            <th><span>Profil</span></th>
            <th><span>Processing Status</span></th>
            <th><span>Transaction Id</span></th>
            <th><span>Created By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aPNChange of aPNChanges ;trackBy: trackId">
                <td><a [routerLink]="['/apn-change', aPNChange.id, 'view' ]">{{aPNChange.id}}</a></td>
                <td>{{aPNChange.msisdn}}</td>
                <td>{{aPNChange.imsi}}</td>
                <td>{{aPNChange.operation}}</td>
                <td>{{aPNChange.apn}}</td>
                <td>{{aPNChange.profil}}</td>
                <td>{{aPNChange.processingStatus}}</td>
                <td (click)="getAllSiblings(aPNChange.transactionId)"><a style="color:blue;text-anchor: start;text-decoration: underline">{{aPNChange.transactionId}}</a></td>
                <td>{{aPNChange.createdBy}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/apn-change', aPNChange.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/apn-change', aPNChange.id, 'edit']"-->
<!--                                class="btn btn-primary btn-sm">-->
<!--                            <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">Edit</span>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/', 'apn-change', { outlets: { popup: aPNChange.id + '/delete'} }]"-->
<!--                                replaceUrl="true"-->
<!--                                queryParamsHandling="merge"-->
<!--                                class="btn btn-danger btn-sm">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">Delete</span>-->
<!--                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="aPNChanges?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
