<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aPNChange">
            <h2><span>APN Change</span> {{aPNChange.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{aPNChange.msisdn}}</span>
                </dd>
                <dt><span>Imsi</span></dt>
                <dd>
                    <span>{{aPNChange.imsi}}</span>
                </dd>
                <dt><span>Operation</span></dt>
                <dd>
                    <span>{{aPNChange.operation}}</span>
                </dd>
                <dt><span>Apn</span></dt>
                <dd>
                    <span>{{aPNChange.apn}}</span>
                </dd>
                <dt><span>Profil</span></dt>
                <dd>
                    <span>{{aPNChange.profil}}</span>
                </dd>
                <dt><span>Processing Status</span></dt>
                <dd>
                    <span>{{aPNChange.processingStatus}}</span>
                </dd>
                <div *ngIf="aPNChange.errorMessage && aPNChange.processingStatus == 'FAILED'">
                    <dt><span>Error message</span></dt>
                    <dd>
                        <span>{{aPNChange.errorMessage}}</span>
                    </dd>
                </div>
                <dt><span>Transaction Id</span></dt>
                <dd>
                    <span>{{aPNChange.transactionId}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{aPNChange.createdBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button" *ngIf="aPNChange.processingStatus == 'FAILED'"
                    [routerLink]="['/apn-change', aPNChange.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
