<div class="row justify-content-center">
    <div class="col-8">
        <ngb-tabset>

            <ngb-tab title="Modification unique">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
                        <h2 id="jhi-apn-change-heading">Create or edit a APN Change</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div [hidden]="!editForm.get('id').value" class="form-group">
                                <label for="id">ID</label>
                                <input class="form-control" formControlName="id" id="id" name="id" readonly type="text" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdn">Msisdn</label>
                                <input class="form-control" formControlName="msisdn" id="field_msisdn" name="msisdn" type="text"/>
                                <div *ngIf="editForm.get('msisdn').invalid && (editForm.get('msisdn').dirty || editForm.get('msisdn').touched)">
                                    <small *ngIf="editForm.get('msisdn').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_imsi">Imsi</label>
                                <input class="form-control" formControlName="imsi" id="field_imsi" name="imsi" type="text"/>
                                <div *ngIf="editForm.get('imsi').invalid && (editForm.get('imsi').dirty || editForm.get('imsi').touched)">
                                    <small *ngIf="editForm.get('imsi').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_operation">Operation</label>
                                <select class="form-control" formControlName="operation" id="field_operation" name="operation">
                                    <option value="ACTIVATE">ACTIVATE</option>
                                    <option value="DEACTIVATE">DEACTIVATE</option>
                                </select>
                                <div *ngIf="editForm.get('operation').invalid && (editForm.get('operation').dirty || editForm.get('operation').touched)">
                                    <small *ngIf="editForm.get('operation').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="apn">Apn</label>
                                <select class="form-control" formControlName="apn"  id="apn" name="apn">
                                    <option value="1">web.sentel.com</option>
                                    <option value="2">wap.sentelgsm.com</option>
                                    <option value="3">mms.sentelgsm.com</option>
                                    <option value="5">COTECNA.COM</option>
                                    <option value="6">LONASE</option>
                                    <option value="7">TIGO.SN</option>
                                    <option value="8">DATACENTER</option>
                                    <option value="9">GIMUEMOA71</option>
                                    <option value="10">GLOBOID</option>
                                    <option value="11">MYFUEL</option>
                                    <option value="12">NIPPON</option>
                                    <option value="13">TESTAPN</option>
                                    <option value="14">VIVO</option>
                                    <option value="15">TIGOCASH</option>
                                    <option value="16">DMS</option>
                                    <option value="17">OILIBYA</option>
                                    <option value="18">SNTIGO</option>
                                    <option value="19">SGBS</option>
                                    <option value="20">POWER.TIGO</option>
                                    <option value="21">CBAO</option>
                                    <option value="22">WEBISP2.SENTEL.COM</option>
                                    <option value="23">FERLO</option>
                                    <option value="24">SENELEC</option>
                                    <option value="25">ITMOBILE</option>
                                    <option value="26">TIGO4G</option>
                                    <option value="27">APESAGE</option>
                                    <option value="28">COMASEL</option>
                                    <option value="29">SENTEL</option>
                                    <option value="30">SEWA</option>
                                    <option value="31">WARI.COM</option>
                                    <option value="32">B2BAPN</option>
                                    <option value="33">FIREFLY</option>
                                    <option value="34">ECOBANK</option>
                                    <option value="35">MANKO</option>
                                    <option value="36">DHLAPN</option>
                                    <option value="37">DOUANE</option>
                                    <option value="38">UBAAPN</option>
                                    <option value="39">MANOBI</option>
                                    <option value="40">WEBSFR</option>
                                    <option value="41">SL2SFR</option>
                                    <option value="42">ORABANK</option>
                                    <option value="43">POSTE</option>
                                    <option value="44">AKILEE</option>
                                    <option value="45">PROMOBILE</option>
                                </select>
                                <div *ngIf="editForm.get('apn').invalid && (editForm.get('apn').dirty || editForm.get('apn').touched)">
                                    <small *ngIf="editForm.get('apn').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_profil">Profil</label>
                                <select class="form-control"  formControlName="profil" id="field_profil" name="profil">
                                    <option value="PROFIL01">PROFIL01</option>
                                    <option value="PROF3G_A">PROF3G_A</option>
                                    <option value="PROF3G_B">PROF3G_B</option>
                                    <option value="PROF3G_C">PROF3G_C</option>
                                    <option value="PRO3G_5M">PRO3G_5M</option>
                                    <option value="PRO3G_2M">PRO3G_2M</option>
                                    <option value="PRO_512K">PRO_512K</option>
                                </select>
                                <div *ngIf="editForm.get('profil').invalid && (editForm.get('profil').dirty || editForm.get('profil').touched)">
                                    <small *ngIf="editForm.get('profil').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save"  type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity" type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Modification bulk">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="uploadFile()" [formGroup]="editFormBulk" name="editFormBulk" novalidate role="form">
                        <h2 id="jhi-apn-change-heading-bulk">Create or edit a APN Change</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group">
                                <label class="form-control-label" for="field-msisdn-bulk">Msisdn</label>
                                <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="form-control" formControlName="msisdn_bulk" id="field-msisdn-bulk" name="msisdn_bulk"
                                       type="file"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_operation_bulkl">Operation</label>
                                <select class="form-control" formControlName="operation_bulk" id="field_operation_bulkl" [(ngModel)]="operation_bulk">
                                    <option value="ACTIVATE">ACTIVATE</option>
                                    <option value="DEACTIVATE">DEACTIVATE</option>
                                </select>
                                <div *ngIf="editFormBulk.get('operation_bulk').invalid && (editFormBulk.get('operation_bulk').dirty || editFormBulk.get('operation_bulk').touched)">
                                    <small *ngIf="editFormBulk.get('operation_bulk').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="apn_bulk">Apn</label>
                                <select class="form-control" formControlName="apn_bulk"  id="apn_bulk" [(ngModel)]="apn_bulk">
                                    <option value="1">web.sentel.com</option>
                                    <option value="2">wap.sentelgsm.com</option>
                                    <option value="3">mms.sentelgsm.com</option>
                                    <option value="5">COTECNA.COM</option>
                                    <option value="6">LONASE</option>
                                    <option value="7">TIGO.SN</option>
                                    <option value="8">DATACENTER</option>
                                    <option value="9">GIMUEMOA71</option>
                                    <option value="10">GLOBOID</option>
                                    <option value="11">MYFUEL</option>
                                    <option value="12">NIPPON</option>
                                    <option value="13">TESTAPN</option>
                                    <option value="14">VIVO</option>
                                    <option value="15">TIGOCASH</option>
                                    <option value="16">DMS</option>
                                    <option value="17">OILIBYA</option>
                                    <option value="18">SNTIGO</option>
                                    <option value="19">SGBS</option>
                                    <option value="20">POWER.TIGO</option>
                                    <option value="21">CBAO</option>
                                    <option value="22">WEBISP2.SENTEL.COM</option>
                                    <option value="23">FERLO</option>
                                    <option value="24">SENELEC</option>
                                    <option value="25">ITMOBILE</option>
                                    <option value="26">TIGO4G</option>
                                    <option value="27">APESAGE</option>
                                    <option value="28">COMASEL</option>
                                    <option value="29">SENTEL</option>
                                    <option value="30">SEWA</option>
                                    <option value="31">WARI.COM</option>
                                    <option value="32">B2BAPN</option>
                                    <option value="33">FIREFLY</option>
                                    <option value="34">ECOBANK</option>
                                    <option value="35">MANKO</option>
                                    <option value="36">DHLAPN</option>
                                    <option value="37">DOUANE</option>
                                    <option value="38">UBAAPN</option>
                                    <option value="39">MANOBI</option>
                                    <option value="40">WEBSFR</option>
                                    <option value="41">SL2SFR</option>
                                    <option value="42">ORABANK</option>
                                    <option value="43">POSTE</option>
                                    <option value="44">AKILEE</option>
                                    <option value="45">PROMOBILE</option>
                                </select>
                                <div *ngIf="editFormBulk.get('apn_bulk').invalid && (editFormBulk.get('apn_bulk').dirty || editFormBulk.get('apn_bulk').touched)">
                                    <small *ngIf="editFormBulk.get('apn_bulk').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_profil_b">Profil</label>
                                <select class="form-control"  formControlName="profil_bulk" id="field_profil_b" [(ngModel)]="profil_bulk">
                                    <option value="PROFIL01">PROFIL01</option>
                                    <option value="PROF3G_A">PROF3G_A</option>
                                    <option value="PROF3G_B">PROF3G_B</option>
                                    <option value="PROF3G_C">PROF3G_C</option>
                                    <option value="PRO3G_5M">PRO3G_5M</option>
                                    <option value="PRO3G_2M">PRO3G_2M</option>
                                    <option value="PRO_512K">PRO_512K</option>
                                </select>
                                <div *ngIf="editFormBulk.get('profil_bulk').invalid && (editFormBulk.get('profil_bulk').dirty || editFormBulk.get('profil_bulk').touched)">
                                    <small *ngIf="editFormBulk.get('profil_bulk').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save-b"  type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editFormBulk.invalid || isSaving" class="btn btn-primary" id="save-entity-b" type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Modification unique (new)">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="save1()" [formGroup]="editForm1" name="editForm" novalidate role="form">
                        <h2 id="jhi-apn-change-heading" class="pt-4">Create or edit a APN Change</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div [hidden]="!editForm1.get('id').value" class="form-group">
                                <label for="id">ID</label>
                                <input class="form-control" formControlName="id" id="id" name="id" readonly type="text" />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdn">Msisdn</label>
                                <input class="form-control" formControlName="msisdn" id="field_msisdn" name="msisdn"
                                       type="text"/>
                                <div *ngIf="editForm1.get('msisdn').invalid && (editForm1.get('msisdn').dirty || editForm1.get('msisdn').touched)">
                                    <small *ngIf="editForm1.get('msisdn').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_imsi">Imsi</label>
                                <input class="form-control" formControlName="imsi" id="field_imsi" name="imsi" type="text"/>
                                <div *ngIf="editForm1.get('imsi').invalid && (editForm1.get('imsi').dirty || editForm1.get('imsi').touched)">
                                    <small *ngIf="editForm1.get('imsi').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="apn">Apn</label>
                                <select class="form-control" formControlName="apn"  id="apn" name="apn">
                                    <option value="AKILEE">AKILEE</option>
                                    <option value="APESAGE">APESAGE</option>
                                    <option value="B2BAPN">B2BAPN</option>
                                    <option value="CBAO">CBAO</option>
                                    <option value="COMASEL">COMASEL</option>
                                    <option value="COTECNA.COM">COTECNA.COM</option>
                                    <option value="DATACENTER">DATACENTER</option>
                                    <option value="DHLAPN">DHLAPN</option>
                                    <option value="DMS">DMS (EsmProfile22)</option>
                                    <option value="DOUANE">DOUANE</option>
                                    <option value="DPWORLD">DPWORLD (EsmProfile33)</option>
                                    <option value="ECOBANK">ECOBANK</option>
                                    <option value="EEXPRESS">EEXPRESS</option>
                                    <option value="FERLO">FERLO</option>
                                    <option value="FIREFLY">FIREFLY</option>
                                    <option value="FREE5G">FREE5G (EsmProfile31)</option>
                                    <option value="FREESN">FREESN (EsmProfile21)</option>
                                    <option value="FTTXAGENT">FTTXAGENT (EsmProfile32)</option>
                                    <option value="GEORIS">GEORIS (EsmProfile24)</option>
                                    <option value="GIMUEMOA71">GIMUEMOA71</option>
                                    <option value="GLOBOID">GLOBOID</option>
                                    <!--<option value="IMS">IMS (EsmProfile1)</option>-->
                                    <option value="ITMOBILE">ITMOBILE</option>
                                    <option value="LONASE">LONASE</option>
                                    <option value="MANKO">MANKO</option>
                                    <option value="MANOBI">MANOBI</option>
                                    <option value="MMS.SENTELGSM.COM">MMS.SENTELGSM.COM</option>
                                    <option value="MYFUEL">MYFUEL</option>
                                    <option value="NIPPON">NIPPON</option>
                                    <option value="OILIBYA">OILIBYA</option>
                                    <option value="ORABANK">ORABANK (EsmProfile23)</option>
                                    <option value="POSTE">POSTE</option>
                                    <option value="POWER.TIGO">POWER.TIGO</option>
                                    <option value="PROMOBILE">PROMOBILE</option>
                                    <option value="SAGEM">SAGEM (EsmProfile25)</option>
                                    <option value="SENELEC">SENELEC (EsmProfile26)</option>
                                    <option value="SENOCAISS">SENOCAISS (EsmProfile28)</option>
                                    <option value="SENOIND">SENOIND (EsmProfile29)</option>
                                    <option value="SENTEL">SENTEL (EsmProfile6)</option>
                                    <option value="SETER">SETER (EsmProfile35)</option>
                                    <option value="SEWA">SEWA</option>
                                    <option value="SGBS">SGBS</option>
                                    <option value="SL2SFR">SL2SFR</option>
                                    <option value="SNTIGO">SNTIGO</option>
                                    <option value="TESTAPN">TESTAPN</option>
                                    <option value="THALES">THALES (EsmProfile30)</option>
                                    <option value="THTESTAPN">THTESTAPN (EsmProfile34)</option>
                                    <option value="TIGO.SN">TIGO.SN</option>
                                    <option value="TIGO4G">TIGO4G (EsmProfile2)</option>
                                    <option value="TIGOCASH">TIGOCASH</option>
                                    <option value="TPESENELEC">TPESENELEC (EsmProfile27)</option>
                                    <option value="UBAAPN">UBAAPN (EsmProfile20)</option>
                                    <option value="VIVO">VIVO</option>
                                    <option value="WAP.SENTELGSM.COM">WAP.SENTELGSM.COM</option>
                                    <option value="WARI.COM">WARI.COM</option>
                                    <option value="WEBSFR">WEBSFR</option>
                                    <option value="WEB.SENTEL.COM">WEB.SENTEL.COM (EsmProfile4)</option>
                                    <!--<option value="WEB.TIGO.SN">WEB.TIGO.SN (EsmProfile3)</option>-->
                                    <option value="WEBISP2.SENTEL.COM">WEBISP2.SENTEL.COM (EsmProfile5)</option>
                                </select>
                                <div *ngIf="editForm1.get('apn').invalid && (editForm1.get('apn').dirty || editForm1.get('apn').touched)">
                                    <small *ngIf="editForm1.get('apn').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_address_ip">Adresse IP</label>
                                <input class="form-control" formControlName="ipAddr" id="field_address_ip" name="ipAddr" type="text"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_technology">Technologies</label>
                                <select class="form-control" formControlName="technology"  id="field_technology" name="technology">
                                    <option value="3G">2G/3G</option>
                                    <option value="4G">4G</option>
                                </select>
                                <div *ngIf="editForm1.get('technology').invalid && (editForm1.get('technology').dirty || editForm1.get('technology').touched)">
                                    <small *ngIf="editForm1.get('technology').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="field_operation">Operation</label>
                                <select class="form-control" formControlName="operation" id="field_operation" name="operation">
                                    <option value="ACTIVATE">ACTIVER</option>
                                    <option value="DEACTIVATE">DESACTIVER</option>
                                </select>
                                <div *ngIf="editForm1.get('operation').invalid && (editForm1.get('operation').dirty || editForm1.get('operation').touched)">
                                    <small *ngIf="editForm1.get('operation').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save"  type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editForm1.invalid || isSaving" class="btn btn-primary" id="save-entity" type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>

            <ngb-tab title="Modification bulk (new)">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="uploadFile1()" [formGroup]="editFormBulk1" name="editFormBulk" novalidate role="form">
                        <h2 id="jhi-apn-change-heading-bulk" class="pt-4">Create or edit a APN Change</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group">
                                <label class="form-control-label" for="field-msisdn-bulk">Msisdn</label>
                                <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="form-control" formControlName="msisdn_bulk" id="field-msisdn-bulk" name="msisdn_bulk" type="file"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="apn_bulk">Apn</label>
                                <select class="form-control" formControlName="apn_bulk"  id="apn_bulk" [(ngModel)]="apn_bulk">
                                    <option value="AKILEE">AKILEE</option>
                                    <option value="APESAGE">APESAGE</option>
                                    <option value="B2BAPN">B2BAPN</option>
                                    <option value="CBAO">CBAO</option>
                                    <option value="COMASEL">COMASEL</option>
                                    <option value="COTECNA.COM">COTECNA.COM</option>
                                    <option value="DATACENTER">DATACENTER</option>
                                    <option value="DHLAPN">DHLAPN</option>
                                    <option value="DMS">DMS (EsmProfile22)</option>
                                    <option value="DOUANE">DOUANE</option>
                                    <option value="DPWORLD">DPWORLD (EsmProfile33)</option>
                                    <option value="ECOBANK">ECOBANK</option>
                                    <option value="EEXPRESS">EEXPRESS</option>
                                    <option value="FERLO">FERLO</option>
                                    <option value="FIREFLY">FIREFLY</option>
                                    <option value="FREE5G">FREE5G (EsmProfile31)</option>
                                    <option value="FREESN">FREESN (EsmProfile21)</option>
                                    <option value="FTTXAGENT">FTTXAGENT (EsmProfile32)</option>
                                    <option value="GEORIS">GEORIS (EsmProfile24)</option>
                                    <option value="GIMUEMOA71">GIMUEMOA71</option>
                                    <option value="GLOBOID">GLOBOID</option>
                                    <!--<option value="IMS">IMS (EsmProfile1)</option>-->
                                    <option value="ITMOBILE">ITMOBILE</option>
                                    <option value="LONASE">LONASE</option>
                                    <option value="MANKO">MANKO</option>
                                    <option value="MANOBI">MANOBI</option>
                                    <option value="MMS.SENTELGSM.COM">MMS.SENTELGSM.COM</option>
                                    <option value="MYFUEL">MYFUEL</option>
                                    <option value="NIPPON">NIPPON</option>
                                    <option value="OILIBYA">OILIBYA</option>
                                    <option value="ORABANK">ORABANK (EsmProfile23)</option>
                                    <option value="POSTE">POSTE</option>
                                    <option value="POWER.TIGO">POWER.TIGO</option>
                                    <option value="PROMOBILE">PROMOBILE</option>
                                    <option value="SAGEM">SAGEM (EsmProfile25)</option>
                                    <option value="SENELEC">SENELEC (EsmProfile26)</option>
                                    <option value="SENOCAISS">SENOCAISS (EsmProfile28)</option>
                                    <option value="SENOIND">SENOIND (EsmProfile29)</option>
                                    <option value="SENTEL">SENTEL (EsmProfile6)</option>
                                    <option value="SETER">SETER (EsmProfile35)</option>
                                    <option value="SEWA">SEWA</option>
                                    <option value="SGBS">SGBS</option>
                                    <option value="SL2SFR">SL2SFR</option>
                                    <option value="SNTIGO">SNTIGO</option>
                                    <option value="TESTAPN">TESTAPN</option>
                                    <option value="THALES">THALES (EsmProfile30)</option>
                                    <option value="THTESTAPN">THTESTAPN (EsmProfile34)</option>
                                    <option value="TIGO.SN">TIGO.SN</option>
                                    <option value="TIGO4G">TIGO4G (EsmProfile2)</option>
                                    <option value="TIGOCASH">TIGOCASH</option>
                                    <option value="TPESENELEC">TPESENELEC (EsmProfile27)</option>
                                    <option value="UBAAPN">UBAAPN (EsmProfile20)</option>
                                    <option value="VIVO">VIVO</option>
                                    <option value="WAP.SENTELGSM.COM">WAP.SENTELGSM.COM</option>
                                    <option value="WARI.COM">WARI.COM</option>
                                    <option value="WEBSFR">WEBSFR</option>
                                    <option value="WEB.SENTEL.COM">WEB.SENTEL.COM (EsmProfile4)</option>
                                    <!--<option value="WEB.TIGO.SN">WEB.TIGO.SN (EsmProfile3)</option>-->
                                    <option value="WEBISP2.SENTEL.COM">WEBISP2.SENTEL.COM (EsmProfile5)</option>
                                </select>
                                <div *ngIf="editFormBulk1.get('apn_bulk').invalid && (editFormBulk1.get('apn_bulk').dirty || editFormBulk1.get('apn_bulk').touched)">
                                    <small *ngIf="editFormBulk1.get('apn_bulk').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="technology_bulk">Technologies</label>
                                <select class="form-control" formControlName="technology_bulk"  id="technology_bulk" name="technology_bulk" [(ngModel)]="technology_bulk">
                                    <option value="3G">2G/3G</option>
                                    <option value="4G">4G</option>
                                </select>
                                <div *ngIf="editFormBulk1.get('technology_bulk').invalid && (editFormBulk1.get('technology_bulk').dirty || editFormBulk1.get('technology_bulk').touched)">
                                    <small *ngIf="editFormBulk1.get('technology_bulk').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_operation">Operation</label>
                                <select class="form-control" formControlName="operation" id="field_operation" name="operation" [(ngModel)]="operation">
                                    <option value="ACTIVATE">ACTIVER</option>
                                    <option value="DEACTIVATE">DESACTIVER</option>
                                </select>
                                <div *ngIf="editFormBulk1.get('operation').invalid && (editFormBulk1.get('operation').dirty || editFormBulk1.get('operation').touched)">
                                    <small *ngIf="editFormBulk1.get('operation').errors.required" class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save-b"  type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editFormBulk1.invalid || isSaving" class="btn btn-primary" id="save-entity-b" type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
