<div>
    <h2 id="page-heading">
        <span>Service Changes</span>
        <button class="btn btn-success" (click)="loadAll()">
            <fa-icon [icon]="'sync'"></fa-icon>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-change" [routerLink]="['/service-change/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nouveau Changement de service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <button *ngIf="serviceChanges?.length > 0" class="btn btn-info btn-sm float-right" (click)="exportAsXLSX()">
        <fa-icon [icon]="'file-excel-o'"></fa-icon>
        <span class="d-none d-md-inline">Exporter dans Excel</span>
        </button>
    <br/>
    <div class="alert alert-warning" *ngIf="serviceChanges?.length === 0">
        <span>No serviceChanges found</span>
    </div>
    <div class="table-responsive" *ngIf="serviceChanges?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imsi"><span>Imsi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operation"><span>Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serviceId"><span>Service Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="processingStatus"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="transactionId"><span>TransactionId</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createdDate"><span>Date et auteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceChange of serviceChanges ;trackBy: trackId">
                <td>{{serviceChange.msisdn}}</td>
                <td>{{serviceChange.imsi}}</td>
                <td><span class="badge badge-pill" [ngClass]="{'badge-success': serviceChange.operation === 'ACTIVATE', 'badge-danger': serviceChange.operation !== 'ACTIVATE'}">{{serviceChange.operation}}</span></td>
                <td>{{serviceChange.serviceId}}</td>
                <td><span class="badge badge-pill badge-info">{{serviceChange.processingStatus}}</span></td>
                <td (click)="getAllSiblings(serviceChange.transactionId)"><a style="color:blue;text-anchor: start;text-decoration: underline">{{serviceChange.transactionId}}</a></td>
                <td>{{serviceChange.createdBy + ' - ' + serviceChange.createdDate}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/service-change', serviceChange.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="serviceChanges?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
