<div class="row justify-content-center">
    <div class="col-8" style="margin-bottom: 5px">
        <a class="btn btn-info" routerLink="/service-change">
            <fa-icon icon="list"></fa-icon>
            <span>Voir les derniers changements de services</span>
        </a>
    </div>
    <div class="col-8">
        <ngb-tabset>
            <ngb-tab title="Single">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
                        <h2 id="jhi-service-change-heading">Activation/Désactivation de service</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div [hidden]="!editForm.get('id').value" class="form-group">
                                <label for="id">ID</label>
                                <input class="form-control" formControlName="id" id="id" name="id" readonly
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdn">Msisdn</label>
                                <div class="form-inline form-horizontal">
                                    <label class="label label-primary form-control">221</label>
                                    <input class="form-control" formControlName="msisdn" id="field_msisdn" name="msisdn"
                                           type="text"/>
                                </div>
                                <div
                                    *ngIf="editForm.get('msisdn').invalid && (editForm.get('msisdn').dirty || editForm.get('msisdn').touched)">
                                    <small *ngIf="editForm.get('msisdn').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_imsi">Imsi</label>
                                <input class="form-control" formControlName="imsi" id="field_imsi" name="imsi"
                                       type="text"/>
                                <div
                                    *ngIf="editForm.get('imsi').invalid && (editForm.get('imsi').dirty || editForm.get('imsi').touched)">
                                    <small *ngIf="editForm.get('imsi').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_operation">Operation</label>
                                <select class="form-control" formControlName="operation" id="field_operation"
                                        name="operation">
                                    <option value="ACTIVATE">ACTIVATE</option>
                                    <option value="DEACTIVATE">DEACTIVATE</option>
                                </select>
                                <div
                                    *ngIf="editForm.get('operation').invalid && (editForm.get('operation').dirty || editForm.get('operation').touched)">
                                    <small *ngIf="editForm.get('operation').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_serviceId">Service Id</label>
                                <select class="form-control" formControlName="serviceId" id="field_serviceId"
                                        name="serviceId">
                                    <option *ngFor="let service of services"
                                            [value]="service.code">{{service.label}}</option>
                                </select>
                                <div
                                    *ngIf="editForm.get('serviceId').invalid && (editForm.get('serviceId').dirty || editForm.get('serviceId').touched)">
                                    <small *ngIf="editForm.get('serviceId').errors.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab *jhiHasAnyAuthority="['ROLE_COMPLAIN', 'ROLE_B2B']" title="Bulk">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="uploadFile()">
                        <h2>Faire un changement de Service sur plusieurs numéros</h2>
                        <div class="alert alert-info" style="margin: 1%">
                            <strong class="text-field">Format fichier : msisdn(sans 221);imsi(sans 60802)</strong>
                        </div>
                        <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="btn" name="file" type="file"/>
                        <div class="form-group row">
                            <div class="form-group col-6">
                                <label class="form-control-label" for="field_operation">Operation</label>
                                <select [(ngModel)]="operation2" class="form-control" id="field_operation_2"
                                        name="operation">
                                    <option value="ACTIVATE">ACTIVATE</option>
                                    <option value="DEACTIVATE">DEACTIVATE</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label" for="field_serviceId">Service Id</label>
                                <select [(ngModel)]="serviceId2" class="form-control" id="field_serviceId_2"
                                        name="serviceId">
                                    <option *ngFor="let service of services"
                                            [value]="service.code">{{service.label}}</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button class="btn btn-primary"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
