<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceChange">
            <h2><span>Service Change</span> {{serviceChange.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{serviceChange.msisdn}}</span>
                </dd>
                <dt><span>Imsi</span></dt>
                <dd>
                    <span>{{serviceChange.imsi}}</span>
                </dd>
                <dt><span>Operation</span></dt>
                <dd>
                    <span>{{serviceChange.operation}}</span>
                </dd>
                <dt><span>Service Id</span></dt>
                <dd>
                    <span>{{serviceChange.serviceId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-change', serviceChange.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
