<div class="row justify-content-center">
    <div class="col-8" style="margin-bottom: 5px">
        <a class="btn btn-info" routerLink="/transfert-appel">
            <fa-icon icon="list"></fa-icon>
            <span>Voir les derniers transferts d'appels</span>
        </a>
    </div>
    <div class="col-8">
        <ngb-tabset>
            <ngb-tab title="Single">
                <ng-template ngbTabContent>
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                        <h2 id="jhi-transfert-appel-heading">Create or edit a Transfert Appel</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group" [hidden]="!editForm.get('id').value">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" id="id" name="id" formControlName="id"
                                       readonly />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdnSource">Msisdn Source</label>
                                <input type="text" class="form-control" name="msisdnSource" id="field_msisdnSource"
                                       formControlName="msisdnSource"/>
                                <div *ngIf="editForm.get('msisdnSource').invalid && (editForm.get('msisdnSource').dirty || editForm.get('msisdnSource').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('msisdnSource').errors.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdnDest">Msisdn Dest</label>
                                <input type="text" class="form-control" name="msisdnDest" id="field_msisdnDest"
                                       formControlName="msisdnDest"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_operation">Operation</label>
                                <select class="form-control" name="operation" formControlName="operation" id="field_operation">
                                    <option value="ACTIVATE">ACTIVATE</option>
                                    <option value="DEACTIVATE">DEACTIVATE</option>
                                </select>
                                <div *ngIf="editForm.get('operation').invalid && (editForm.get('operation').dirty || editForm.get('operation').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('operation').errors.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Bulk">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="uploadFile()">
                        <div class="form-group">
                            <jhi-alert-error></jhi-alert-error>
                            <div class="alert alert-info" style="margin: 1%">
                                <strong class="text-field">Format fichier : msisdnSource(sans 221);msisdnDest(sans 221)</strong>
                            </div>
                            <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="btn" name="file" type="file"/>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="operationType">Operation</label>
                            <select [(ngModel)]="operationType" class="form-control" name="operationType" formControlName="operationType" id="operationType" required>
                                <option value="ACTIVATE">ACTIVATE</option>
                                <option value="DEACTIVATE">DEACTIVATE</option>
                            </select>
                            <div *ngIf="editForm.get('operation').invalid && (editForm.get('operation').dirty || editForm.get('operation').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('operation').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                            </button>
                            <button class="btn btn-primary"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Enregistrer</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
