<div>
    <h2 id="page-heading">
        <span>Transfert Appels</span>
        <button class="btn btn-success" (click)="loadAll()">
            <fa-icon [icon]="'sync'"></fa-icon>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transfert-appel" [routerLink]="['/transfert-appel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Transfert Appel
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transfertAppels?.length === 0">
        <span>No transfertAppels found</span>
    </div>
    <div class="table-responsive" *ngIf="transfertAppels?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdnSource"><span>Msisdn Source</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdnDest"><span>Msisdn Dest</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="operation"><span>Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="transactionId"><span>Transaction Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="processingStatus"><span>Processing status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transfertAppel of transfertAppels ;trackBy: trackId">
                <td><a [routerLink]="['/transfert-appel', transfertAppel.id, 'view' ]">{{transfertAppel.id}}</a></td>
                <td>{{transfertAppel.msisdnSource}}</td>
                <td>{{transfertAppel.msisdnDest}}</td>
                <td>{{transfertAppel.operation}}</td>
                <td>{{transfertAppel.transactionId}}</td>
                <td>{{transfertAppel.processingStatus}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transfert-appel', transfertAppel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/transfert-appel', transfertAppel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transfert-appel', { outlets: { popup: transfertAppel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="transfertAppels?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
