<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transfertAppel">
            <h2><span>Transfert Appel</span> {{transfertAppel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn Source</span></dt>
                <dd>
                    <span>{{transfertAppel.msisdnSource}}</span>
                </dd>
                <dt><span>Msisdn Dest</span></dt>
                <dd>
                    <span>{{transfertAppel.msisdnDest}}</span>
                </dd>
                <dt><span>Operation</span></dt>
                <dd>
                    <span>{{transfertAppel.operation}}</span>
                </dd>
                <dt><span>Processing Status</span></dt>
                <dd>
                    <span>{{transfertAppel.processingStatus}}</span>
                </dd>
                <dt><span>Transaction Id</span></dt>
                <dd>
                    <span>{{transfertAppel.transactionId}}</span>
                </dd>
                <dt><span>Backend Resp</span></dt>
                <dd>
                    <span>{{transfertAppel.backendResp}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transfert-appel', transfertAppel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
