<div>
    <h2 id="page-heading">
        <span>Mnp Portings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mnp-porting" [routerLink]="['/mnp-porting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Nouveau Mnp Porting
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mnpPortings?.length === 0">
        <span>Pas de Mnp Porting en cours</span>
    </div>
    <button *ngIf="mnpPortings?.length > 0" class="btn btn-info btn-sm float-right" (click)="exportAsXLSX()">
        <fa-icon [icon]="'file-excel-o'"></fa-icon>
        <span class="d-none d-md-inline">Exporter dans Excel</span>
    </button>
    <br/>
    <div class="table-responsive" *ngIf="mnpPortings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="processingStatus"><span>Processing Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mnpPorting of mnpPortings ;trackBy: trackId">
                <td><a [routerLink]="['/mnp-porting', mnpPorting.id, 'view' ]">{{mnpPorting.id}}</a></td>
                <td>{{mnpPorting.msisdn}}</td>
                <td>{{mnpPorting.processingStatus}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mnp-porting', mnpPorting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Details</span>
                        </button>
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/mnp-porting', mnpPorting.id, 'edit']"-->
<!--                                class="btn btn-primary btn-sm">-->
<!--                            <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">Edit</span>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/', 'mnp-porting', { outlets: { popup: mnpPorting.id + '/delete'} }]"-->
<!--                                replaceUrl="true"-->
<!--                                queryParamsHandling="merge"-->
<!--                                class="btn btn-danger btn-sm">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">Delete</span>-->
<!--                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="mnpPortings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
