<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mnp-porting-heading">Create or edit a Mnp Porting</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_msisdn">Msisdn</label>
                    <div class="form-inline">
                        <label class="label label-primary form-control">221</label>
                        <input type="text" class="form-control" name="msisdn" id="field_msisdn"
                               formControlName="msisdn"/>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="form-control-label" for="field_processingStatus">Processing Status</label>
                    <input type="text" class="form-control" name="processingStatus" id="field_processingStatus"
                           formControlName="processingStatus"/>
                </div>-->

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
