<jhi-page-ribbon></jhi-page-ribbon>
<div style="font-family: Verdana">
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid main-content" style="font-family: Verdana"  >
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>
