<div>
    <h2 id="page-heading">
        <span>Archivages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-archivage" [routerLink]="['/archivage/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Archivage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="archivages?.length === 0">
        <span>No archivages found</span>
    </div>
    <div class="table-responsive" *ngIf="archivages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Msisdn</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let archivage of archivages ;trackBy: trackId">
                <td><a [routerLink]="['/archivage', archivage.id, 'view' ]">{{archivage.id}}</a></td>
                <td>{{archivage.msisdn}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/archivage', archivage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/archivage', archivage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/archivage', { outlets: { popup: archivage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
