<div class="row justify-content-center">
    <div class="col-8">
            <h2 id="jhi-archivage-heading">Archivage</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
            <div [hidden]= "err" >
                <div id="arch-alert" class="alert alert-dismissible fade show" [ngClass]="{'alert-danger':echec==1,' alert-success':echec==2}" role="alert">
                    <div *ngIf="echec == 1; else elseBlock">Echec Archivage</div>
                    <ng-template #elseBlock>Archivage réussi</ng-template>
                    <button (click)="closeWindow()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_msisdn">Msisdn</label>
                    <input #msisdn type="text" class="form-control" name="msisdn" id="field_msisdn"
                           formControlName="msisdn"/>
                </div>

            </div>
            <div>
                <button type="submit" id="save-entity" class="btn btn-primary" (click)="archive(msisdn.value)">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Archiver</span>
                </button>
            </div>

    </div>
</div>
