<nav class="navbar navbar-dark navbar-expand-md ">
    <a (click)="collapseNavbar()" class="navbar-brand logo" routerLink="affichage-informations-abonnes/new">
        <span class="logo-img" style="background-color: #ffffff"></span>
        <span class="navbar-title" style="font-family: Verdana">Web Provisioning</span> <!--<span class="navbar-version">{{version}}</span>-->
    </a>
    <a (click)="toggleNavbar()" aria-controls="navbarResponsive" aria-expanded="false"
       aria-label="Toggle navigation" class="navbar-toggler d-lg-none" data-target="#navbarResponsive"
       data-toggle="collapse" href="javascript:void(0);">
        <fa-icon icon="bars"></fa-icon>
    </a>
    <div [ngSwitch]="isAuthenticated()" [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse collapse"
         id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li *ngSwitchCase="true" [routerLinkActiveOptions]="{exact: true}" class="nav-item"
                routerLinkActive="active">
                <a (click)="collapseNavbar()" class="nav-link" routerLink="affichage-informations-abonnes/new">
                    <span>Accueil</span>
                </a>
            </li>
            <li *ngSwitchCase="true" [routerLinkActiveOptions]="{exact: true}" class="nav-item dropdown pointer"
                ngbDropdown
                routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="abonne-menu" ngbDropdownToggle>
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Gestion Abonné
                        </span>
                    </span>
                </a>
                <ul aria-labelledby="entity-menu" class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }"
                           class="dropdown-item" routerLink="affichage-informations-abonnes/new"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Affichage Informations Abonnes</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN', 'ROLE_B2B']">
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="create-subscriber/new" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Création Abonné</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN', 'ROLE_B2B']">
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="delete-subscriber/new" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Supression Abonné</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN', 'ROLE_B2B']"  >
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="sim-swap/new" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Sim Swap</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN', 'ROLE_CALL_CENTER','ROLE_B2B', 'ROLE_AGENT']">
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="service-change/new" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Changement de Services</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_COMPLAIN', 'ROLE_CALL_CENTER','ROLE_B2B', 'ROLE_AGENT']">
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="transfert-appel/new" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Transfert d'appels</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_OPS']">
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="archivage/new" routerLinkActive="active">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Archivage de numéro</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_B2B', 'ROLE_COMPLAIN']" [routerLinkActiveOptions]="{exact: true}" class="nav-item"
                routerLinkActive="active">
                <a (click)="collapseNavbar()" class="nav-link" routerLink="apn-change/new">
                    <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                    <span>Modification d'APN</span>
                </a>
            </li>

            <li *ngSwitchCase="true" [routerLinkActiveOptions]="{exact: true}" class="nav-item dropdown pointer"
                ngbDropdown
                routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="roaming-menu" ngbDropdownToggle>
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Roaming
                        </span>
                    </span>
                </a>
                <ul aria-labelledby="roaming-menu-menu" class="dropdown-menu" ngbDropdownMenu>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_B2B', 'ROLE_COMPLAIN']">
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item"
                           routerLinkActive="active" routerLink="roaming-service/new">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Services Roaming</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_B2B', 'ROLE_COMPLAIN']">
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item"
                           routerLinkActive="active" routerLink="roaming-4-g/new">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Roaming 4G</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_B2B']">
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{exact: true}" class="dropdown-item"
                           routerLinkActive="active" routerLink="reset-location/new">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Cancel VLR & SGSN</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_B2B', 'ROLE_COMPLAIN']" [routerLinkActiveOptions]="{exact: true}"
                class="nav-item dropdown pointer" ngbDropdown routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="portabilite-menu" ngbDropdownToggle>
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Portabilité
                        </span>
                    </span>
                </a>
                <ul aria-labelledby="accueil-menu" class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="mnp-porting/new" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Mnp Portin</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="mnp-portout/new" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Mnp Portout</span>
                        </a>
                    </li>
<!--                    <li *jhiHasAnyAuthority="['ROLE_COMPLAIN']">-->
<!--                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"-->
<!--                           routerLink="full-portin/new" routerLinkActive="active">-->
<!--                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>-->
<!--                            <span>Full Portin</span>-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </li>
            <ng-container *ngIf="false">
                <li *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_B2B']" [routerLinkActiveOptions]="{exact: true}" class="nav-item"
                    routerLinkActive="active">
                    <a (click)="collapseNavbar()" class="nav-link" routerLink="reset-location">
                        <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                        <span>Reset Location</span>
                    </a>
                </li>
            </ng-container>

            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" [routerLinkActiveOptions]="{exact: true}"
                class="nav-item dropdown pointer"
                ngbDropdown
                routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="entity-menu" ngbDropdownToggle>
                    <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span>
                            Entities
                        </span>
                    </span>
                </a>
                <ul aria-labelledby="entity-menu" class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="sim-swap" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Sim Swap</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="service-change" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Service Change</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="services" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Services</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }"
                           class="dropdown-item" routerLink="affichage-informations-abonnes/new"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Affichage Informations Abonnes</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="create-subscriber" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Create Subscriber</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="subscriber-status" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Subscriber Status</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="delete-subscriber" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Delete Subscriber</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="mnp-porting" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Mnp Porting</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="mnp-portout" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Mnp Portout</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" [routerLinkActiveOptions]="{ exact: true }" class="dropdown-item"
                           routerLink="reset-location" routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="asterisk"></fa-icon>
                            <span>Reset Location</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="full-portin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Full Portin</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="roaming-4-g" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Roaming 4 G</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="'ROLE_OPS'">
                        <a class="dropdown-item" routerLink="archivage/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span>Archivage</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" [routerLinkActiveOptions]="{exact: true}"
                class="nav-item dropdown pointer"
                ngbDropdown routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="admin-menu" ngbDropdownToggle>
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span>Administration</span>
                    </span>
                </a>
                <ul aria-labelledby="admin-menu" class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/user-management"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="user"></fa-icon>
                            <span>User management</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/jhi-metrics"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="tachometer-alt"></fa-icon>
                            <span>Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/jhi-health"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="heart"></fa-icon>
                            <span>Health</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/jhi-configuration"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="list"></fa-icon>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/audits"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="bell"></fa-icon>
                            <span>Audits</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/logs"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="tasks"></fa-icon>
                            <span>Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="admin/docs"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="book"></fa-icon>
                            <span>API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>

            <li [routerLinkActiveOptions]="{exact: true}" class="nav-item dropdown pointer" ngbDropdown
                placement="bottom-right"
                routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="account-menu" ngbDropdownToggle>
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span>
                      Mon Compte
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" alt="Avatar" class="profile-image rounded-circle">
                  </span>
                </a>
                <ul aria-labelledby="account-menu" class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="settings"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="wrench"></fa-icon>
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li *jhiHasAnyAuthority="['ROLE_CALL_CENTER', 'ROLE_AGENT']">
                        <a (click)="collapseNavbar()" class="dropdown-item" routerLink="password"
                           routerLinkActive="active">
                            <fa-icon fixedWidth="true" icon="lock"></fa-icon>
                            <span>Mot de passe</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a (click)="logout()" class="dropdown-item" id="logout">
                            <fa-icon fixedWidth="true" icon="sign-out-alt"></fa-icon>
                            <span>Déconnexion</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a (click)="login()" class="dropdown-item" id="login">
                            <fa-icon fixedWidth="true" icon="sign-in-alt"></fa-icon>
                            <span>Connexion</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
