<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenue sur la plateforme de Webprovisioning!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-info" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Vous êtes connecté en tant qu'utilisateur "{{account.login}}". </span>
            </div>
        </div>

        <p>
            Si vous avez besoin de support merci d'appeler
        </p>

        <ul>
            <li>El Hadji Malick DIOP <a href="mailto:ediop@tigo.sn" target="_blank" rel="noopener">ediop@tigo.sn</a></li>
        </ul>
    </div>
</div>
