<div>
    <h2 id="page-heading">
        <span>Affichage Informations Abonnes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-affichage-informations-abonnes" [routerLink]="['/affichage-informations-abonnes/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Informations Abonné
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="affichageInformationsAbonnes?.length === 0">
        <span>No affichageInformationsAbonnes found</span>
    </div>
    <div class="table-responsive" *ngIf="affichageInformationsAbonnes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="imsi"><span>Imsi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="imsiHlr"><span>Imsi Hlr</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="imsiCbs"><span>Imsi Cbs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy=""><span>Auteur - Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let affichageInformationsAbonnes of affichageInformationsAbonnes ;trackBy: trackId">
                <td><a [routerLink]="['/affichage-informations-abonnes', affichageInformationsAbonnes.id, 'view' ]">{{affichageInformationsAbonnes.id}}</a></td>
                <td>{{affichageInformationsAbonnes.msisdn}}</td>
                <td>{{affichageInformationsAbonnes.imsi}}</td>
                <td>{{affichageInformationsAbonnes.imsiHlr}}</td>
                <td>{{affichageInformationsAbonnes.imsiCbs}}</td>
                <td>{{affichageInformationsAbonnes.createdBy}} - {{affichageInformationsAbonnes.createdDate | date:'dd/MM/yyyy à HH:mm'}}</td>
                <!--<td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/affichage-informations-abonnes', affichageInformationsAbonnes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/affichage-informations-abonnes', affichageInformationsAbonnes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'affichage-informations-abonnes', { outlets: { popup: affichageInformationsAbonnes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="affichageInformationsAbonnes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
