<div class="row justify-content-center">
    <div class="col-8">
        <ngb-tabset>
            <ngb-tab title="A partir du MSISDN">
                <ng-template ngbTabContent>
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                        <br>
                        <h2 id="jhi-affichage-informations-abonnes-heading">Informations Abonnés à partir du MSISDN</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group" [hidden]="!editForm.get('id').value">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" id="id" name="id" formControlName="id"
                                       readonly />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdn">MSISDN</label>
                                <div class="form-inline">
                                    <label class="label label-primary form-control">221</label>
                                    <input type="text" class="form-control" name="msisdn" id="field_msisdn"
                                           formControlName="msisdn"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!--<button type="button" id="cancel-save1" class="btn btn-secondary"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>-->
                            <button type="submit" id="save-entity1" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span>Chercher</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="A partir de l'IMSI">
                <ng-template ngbTabContent>
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                        <br>
                        <h2 id="jhi-affichage-informations-abonnes-heading1">Informations Abonnés à partir de l'IMSI</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group" [hidden]="!editForm.get('id').value">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" id="id1" name="id" formControlName="id"
                                       readonly />
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_imsi">IMSI</label>
                                <div class="form-inline">
                                    <label class="label label-primary form-control">60802</label>
                                    <input type="text" class="form-control" name="imsi" id="field_imsi"
                                           formControlName="imsi"/>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!--<button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>-->
                            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                <fa-icon [icon]="'search'"></fa-icon>&nbsp;<span>Chercher</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <!--<div class="lds-css ng-scope" [hidden]="!editForm.invalid && !isSaving">
        <div class="lds-spinner" style="width:100%;height:100%">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <style type="text/css">@keyframes lds-spinner {
                                   0% {
                                       opacity: 1;
                                   }
                                   100% {
                                       opacity: 0;
                                   }
                               }
        @-webkit-keyframes lds-spinner {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        .lds-spinner {
            position: relative;
        }
        .lds-spinner div {
            left: 50%;
            top: 50%;
            position: absolute;
            -webkit-animation: lds-spinner linear 1s infinite;
            animation: lds-spinner linear 1s infinite;
            background: #007bff;
            width: 12px;
            height: 24px;
            border-radius: 40%;
            -webkit-transform-origin: 6px 52px;
            transform-origin: 6px 52px;
        }
        .lds-spinner div:nth-child(1) {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-animation-delay: -0.916666666666667s;
            animation-delay: -0.916666666666667s;
        }
        .lds-spinner div:nth-child(2) {
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-animation-delay: -0.833333333333333s;
            animation-delay: -0.833333333333333s;
        }
        .lds-spinner div:nth-child(3) {
            -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
            -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
        }
        .lds-spinner div:nth-child(4) {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation-delay: -0.666666666666667s;
            animation-delay: -0.666666666666667s;
        }
        .lds-spinner div:nth-child(5) {
            -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
            -webkit-animation-delay: -0.583333333333333s;
            animation-delay: -0.583333333333333s;
        }
        .lds-spinner div:nth-child(6) {
            -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }
        .lds-spinner div:nth-child(7) {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation-delay: -0.416666666666667s;
            animation-delay: -0.416666666666667s;
        }
        .lds-spinner div:nth-child(8) {
            -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
            -webkit-animation-delay: -0.333333333333333s;
            animation-delay: -0.333333333333333s;
        }
        .lds-spinner div:nth-child(9) {
            -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
            -webkit-animation-delay: -0.25s;
            animation-delay: -0.25s;
        }
        .lds-spinner div:nth-child(10) {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            -webkit-animation-delay: -0.166666666666667s;
            animation-delay: -0.166666666666667s;
        }
        .lds-spinner div:nth-child(11) {
            -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
            -webkit-animation-delay: -0.083333333333333s;
            animation-delay: -0.083333333333333s;
        }
        .lds-spinner div:nth-child(12) {
            -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        .lds-spinner {
            width: 200px !important;
            height: 200px !important;
            -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
        }
        </style>
    </div>-->
</div>
