<div class="row justify-content-center" xmlns="http://www.w3.org/1999/html">
    <div class="col-8">
        <div *ngIf="affichageInformationsAbonnes">
            <h2><span>Affichage Informations Abonné</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{affichageInformationsAbonnes.msisdn}}</span>
                </dd>
                <!--<dt><span>Imsi</span></dt>
                <dd>
                    <span>{{affichageInformationsAbonnes.imsi}}</span>
                </dd>-->
                <dt><span>Imsi HLR</span></dt>
                <dd>
                    <span>{{affichageInformationsAbonnes.imsiHlr}}</span>
                </dd>
                <dt><span>Imsi CBS</span></dt>
                <dd>
                    <span>{{affichageInformationsAbonnes.imsiCbs}}</span>
                </dd>
                <dt><span>HSS</span></dt>
                <dd>
                    <span>4G Status :</span><span class="badge badge-pill" [ngClass]="{'badge-success': hssStatus === 'ACTIVATED', 'badge-danger': hssStatus === 'DEACTIVATED'}">{{hssStatus}}</span>
                    <br>
                    <span>EPSProfileId : {{epsProfileID}} </span><br>
                    <span>EPSLocationState : {{epsLocationState}} </span><br>
                    <span>EPSLastUpdateLocationDate : {{epsLastUpdateLocationDate}} </span>
                </dd>
            </dl>

            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Infos PG HLR</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body jumbotron">
                    <pre><code lang="xml">{{Xmlcontent}}</code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
                </div>
            </ng-template>

            <ng-template #contentHss let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Infos PG HLR</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body jumbotron">
                    <pre><code lang="xml">{{XmlcontentHss }}</code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fermer</button>
                </div>
            </ng-template>


            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)" *jhiHasAnyAuthority="['ROLE_COMPLAIN', 'ROLE_B2B']"> + DETAILS PG HLR</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(contentHss)" *jhiHasAnyAuthority="['ROLE_COMPLAIN', 'ROLE_B2B']"> + DETAILS EPG HSS</button>
            <button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="clickQueryNetwork()"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                + QUERY NETWORK
            </button>

            <br>

            <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                <div class="card">
                    <div class="card-body">
                        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <span>&#9733; <b>Subscriber basic information</b>  &#9733;</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <dl class="row-md jh-entity-details">
                                        <dt><span>Name</span></dt>
                                        <dd>
                                            <span>----------</span>
                                        </dd>
                                        <dt><span>Surname</span></dt>
                                        <dd>
                                            <span>----------</span>
                                        </dd>
                                        <dt><span>Adress</span></dt>
                                        <dd>
                                            <span>----------</span>
                                        </dd>
                                        <dt><span>COS</span></dt>
                                        <dd>
                                            <span>----------</span>
                                        </dd>
                                        <dt><span>Prepaid Bonus Wallet</span></dt>
                                        <dd>
                                            <span>----------</span>
                                        </dd>
                                    </dl>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <span>&#9733; <b>Pinpuk information</b>  &#9733;</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <dl class="row-md jh-entity-details">
                                        <dt><span>ICCID</span></dt>
                                        <dd>
                                            <span>{{pinpuk?.iccid}}</span>
                                        </dd>
                                        <dt><span>EKI</span></dt>
                                        <dd>
                                            <span>{{pinpuk?.ki}}</span>
                                        </dd>
                                        <dt><span>PIN1</span></dt>
                                        <dd>
                                            <span>{{pinpuk?.pin1 === 0 ? "0000" : pinpuk?.pin1}}</span>
                                        </dd>
                                        <dt><span>PIN2</span></dt>
                                        <dd>
                                            <span>{{pinpuk?.pin2 === 0 ? "0000" : pinpuk?.pin2}}</span>
                                        </dd>
                                        <dt><span>PUK1</span></dt>
                                        <dd>
                                            <span>{{pinpuk?.puk1}}</span>
                                        </dd>
                                        <dt><span>PUK2</span></dt>
                                        <dd>
                                            <span>{{pinpuk?.puk2}}</span>
                                        </dd>
                                    </dl>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <span>&#9733; <b>Subscriber services information</b>  &#9733;</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Service name</th>
                                            <th scope="col">Service state</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let service of services ; index as i">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>
                                                <!--<ngb-highlight [result]="service.name" [term]="filter.value"></ngb-highlight>-->
                                                <span class="label label-info"></span>{{service.name}}
                                            </td>
                                            <td>
                                                <!--<ngb-highlight [result]="service.state" [term]="filter.value"></ngb-highlight>-->
                                                <span class="badge badge-pill" [ngClass]="{'badge-success': service.state === 'ACTIVE', 'badge-danger': service.state === 'INACTIVE'}">{{service.state}}</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>

            <br>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <!--<button type="button"
                    [routerLink]="['/affichage-informations-abonnes', affichageInformationsAbonnes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>-->
        </div>
    </div>
</div>
