/* after changing this file run 'npm run webpack:build' */

/***************************
put Sass variables here:
eg $input-color: red;
****************************/
// Override Boostrap variables
// Import Bootstrap source files from node_modules
$theme-colors: (
  primary: #cc0000,
  info: #b6b8ba,
  danger: #000000
);
@import '~bootstrap/scss/bootstrap';

/* jhipster-needle-scss-add-vendor JHipster will add new css style */
