<div class="row justify-content-center">
    <div class="col-8" style="margin-bottom: 5px">
        <a class="btn btn-info" routerLink="/delete-subscriber">
            <fa-icon icon="list"></fa-icon>
            <span>Voir les dernières supressions</span>
        </a>
    </div>
    <div class="col-8">
        <ngb-tabset>
            <ngb-tab title="Single">
                <ng-template ngbTabContent>
                    <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
                        <h2 id="jhi-delete-subscriber-heading">Supprimer un abonné</h2>
                        <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div [hidden]="!editForm.get('id').value" class="form-group">
                                <label for="id">ID</label>
                                <input class="form-control" formControlName="id" id="id" name="id" readonly
                                       type="text"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_msisdn">Msisdn</label>
                                <div class="form-inline form-horizontal">
                                    <label class="label label-primary form-control">221</label>
                                    <input class="form-control" formControlName="msisdn" id="field_msisdn" name="msisdn"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_imsi">Imsi</label>
                                <input class="form-control" formControlName="imsi" id="field_imsi" name="imsi"
                                       type="text"/>
                            </div>
                            <div class="jumbotron">
                                <div class="form-group">
                                    <label class="form-control-label" for="field_deleteOnAuc">Supprimer dans Auc</label>
                                    <input class="form-control" formControlName="deleteOnAuc" id="field_deleteOnAuc"
                                           name="deleteOnAuc"
                                           type="checkbox"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_deleteOnHlr">Supprimer dans Hlr</label>
                                    <input class="form-control" formControlName="deleteOnHlr" id="field_deleteOnHlr"
                                           name="deleteOnHlr"
                                           type="checkbox"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_deleteOnHss">Supprimer dans Hss</label>
                                    <input class="form-control" formControlName="deleteOnHss" id="field_deleteOnHss"
                                           name="deleteOnHss"
                                           type="checkbox"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_deleteOnCbs">Supprimer dans Cbs</label>
                                    <input class="form-control" formControlName="deleteOnCbs" id="field_deleteOnCbs"
                                           name="deleteOnCbs"
                                           type="checkbox"/>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="form-control-label" for="field_aucDeletedStatus">Auc Deleted Status</label>
                                <input type="text" class="form-control" name="aucDeletedStatus" id="field_aucDeletedStatus"
                                       formControlName="aucDeletedStatus"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_hlrDeletedStatus">Hlr Deleted Status</label>
                                <input type="text" class="form-control" name="hlrDeletedStatus" id="field_hlrDeletedStatus"
                                       formControlName="hlrDeletedStatus"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_hssDeletedStatus">Hss Deleted Status</label>
                                <input type="text" class="form-control" name="hssDeletedStatus" id="field_hssDeletedStatus"
                                       formControlName="hssDeletedStatus"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_cbsDeletedStatus">Cbs Deleted Status</label>
                                <input type="text" class="form-control" name="cbsDeletedStatus" id="field_cbsDeletedStatus"
                                       formControlName="cbsDeletedStatus"/>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_errorMessage">Error Message</label>
                                <input type="text" class="form-control" name="errorMessage" id="field_errorMessage"
                                       formControlName="errorMessage"/>
                            </div>-->

                        </div>
                        <div>
                            <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                            </button>
                            <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                                    type="submit">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                            </button>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
            <ngb-tab *jhiHasAnyAuthority="['ROLE_COMPLAIN', 'ROLE_B2B']" title="Bulk">
            <ng-template ngbTabContent>
                <form (ngSubmit)="uploadFile()">
                    <!--                       <h2>Creation numéros en lot</h2>-->
                    <div class="form-group">
                        <jhi-alert-error></jhi-alert-error>
                        <div class="alert alert-info" style="margin: 1%">
                            <strong class="text-field">Format fichier : msisdn(sans 221);imsi(sans 60802)</strong>
                        </div>
                        <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="btn"
                               name="file"
                               type="file"/>
                    </div>
                    <div class="jumbotron">
                        <div class="form-group">
                            <label class="form-control-label" for="field_deleteOnAuc">Supprimer dans Auc</label>
                            <input [(ngModel)]="deleteOnAuc" class="form-control" id="field_deleteOnAuc2"
                                   name="deleteOnAuc"
                                   type="checkbox"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_deleteOnHlr">Supprimer dans Hlr</label>
                            <input [(ngModel)]="deleteOnHlr" class="form-control" id="field_deleteOnHlr2"
                                   name="deleteOnHlr"
                                   type="checkbox"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_deleteOnHss">Supprimer dans Hss</label>
                            <input [(ngModel)]="deleteOnHss" class="form-control" id="field_deleteOnHss2"
                                   name="deleteOnHss"
                                   type="checkbox"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_deleteOnCbs">Supprimer dans Cbs</label>
                            <input [(ngModel)]="deleteOnCbs" class="form-control" id="field_deleteOnCbs2"
                                   name="deleteOnCbs"
                                   type="checkbox"/>
                        </div>
                    </div>

                    <div>
                        <button (click)="previousState()" class="btn btn-secondary" type="button">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                        </button>
                        <button class="btn btn-primary"
                                type="submit">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Valider</span>
                        </button>
                    </div>
                </form>
            </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
