<div>
    <h2 id="page-heading">
        <span>Supression Abonné</span>
        <button class="btn btn-success" (click)="loadAll()">
            <fa-icon [icon]="'sync'"></fa-icon>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-delete-subscriber" [routerLink]="['/delete-subscriber/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Supprimer Abonné
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="deleteSubscribers?.length === 0">
        <span>Pas de suppression en cours</span>
    </div>
    <button *ngIf="deleteSubscribers?.length > 0" class="btn btn-info btn-sm float-right" (click)="exportAsXLSX()">
        <fa-icon [icon]="'file-excel-o'"></fa-icon>
        <span class="d-none d-md-inline">Exporter dans Excel</span>
    </button>
    <br/>
    <div class="table-responsive" *ngIf="deleteSubscribers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imsi"><span>Imsi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="msisdn"><span>Msisdn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleteOnAuc"><span>Statut</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="transactionId"><span>Transaction Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="createdDate"><span>Date et auteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deleteSubscriber of deleteSubscribers ;trackBy: trackId">
                <td><a [routerLink]="['/delete-subscriber', deleteSubscriber.id, 'view' ]">{{deleteSubscriber.id}}</a></td>
                <td>{{deleteSubscriber.imsi}}</td>
                <td>{{deleteSubscriber.msisdn}}</td>
                <td>{{deleteSubscriber.processingStatus}}</td>
                <td (click)="getAllSiblings(deleteSubscriber.transactionId)"><a style="color:blue;text-anchor: start;text-decoration: underline">{{deleteSubscriber.transactionId}}</a></td>
                <td>{{deleteSubscriber.createdBy + ' - ' + deleteSubscriber.createdDate}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/delete-subscriber', deleteSubscriber.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <!--<button type="submit"
                                [routerLink]="['/delete-subscriber', deleteSubscriber.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'delete-subscriber', { outlets: { popup: deleteSubscriber.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="deleteSubscribers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
