<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deleteSubscriber">
            <h2><span>Supprimer Abonné</span> {{deleteSubscriber.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Imsi</span></dt>
                <dd>
                    <span>{{deleteSubscriber.imsi}}</span>
                </dd>
                <dt><span>Msisdn</span></dt>
                <dd>
                    <span>{{deleteSubscriber.msisdn}}</span>
                </dd>
                <dt><span>Supprimer dans Auc</span></dt>
                <dd>
                    <span>{{deleteSubscriber.deleteOnAuc}}</span>
                </dd>
                <dt><span>Supprimer dans Hlr</span></dt>
                <dd>
                    <span>{{deleteSubscriber.deleteOnHlr}}</span>
                </dd>
                <dt><span>Supprimer dans Hss</span></dt>
                <dd>
                    <span>{{deleteSubscriber.deleteOnHss}}</span>
                </dd>
                <dt><span>Supprimer dans Cbs</span></dt>
                <dd>
                    <span>{{deleteSubscriber.deleteOnCbs}}</span>
                </dd>
                <hr/>
                <dt><span>Auc Deleted Status</span></dt>
                <dd>
                    <span>{{deleteSubscriber.aucDeletedStatus}}</span>
                </dd>
                <dt><span>Hlr Deleted Status</span></dt>
                <dd>
                    <span>{{deleteSubscriber.hlrDeletedStatus}}</span>
                </dd>
                <dt><span>Hss Deleted Status</span></dt>
                <dd>
                    <span>{{deleteSubscriber.hssDeletedStatus}}</span>
                </dd>
                <dt><span>Cbs Deleted Status</span></dt>
                <dd>
                    <span>{{deleteSubscriber.cbsDeletedStatus}}</span>
                </dd>
                <dt><span>Error Message</span></dt>
                <dd>
                    <span>{{deleteSubscriber.errorMessage}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

<!--            <button type="button"-->
<!--                    [routerLink]="['/delete-subscriber', deleteSubscriber.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>-->
<!--            </button>-->
        </div>
    </div>
</div>
